._*
*.aup3-shm
*.aup3-wal

.git/

.trash/
programs/
Templates/

BuriedBeneathGraves/Audio/Samples
BuriedBeneathGraves/Audio/Transcripts/*raw.mp3
BuriedBeneathGraves/Audio/Transcripts/*.aup3

BuriedBeneathGraves/character_sheet.json
