._*
__*
*.aup3
*.aup3-shm
*.aup3-wal
.idea

.git/

.trash/
Templates/

BuriedBeneathGraves/Audio/Samples
BuriedBeneathGraves/Audio/Transcripts/*raw.mp3

BuriedBeneathGraves/character_sheet.json

programs/.idea/
programs/SpellSymbols_test/
programs/SpellWritingGuide/
programs/WarforgedCypher/


.obsidian/workspace.json
