._*
__*
*.aup3
*.aup3-shm
*.aup3-wal
*.mp3

.idea
.git/
.trash/

BuriedBeneathGraves/character_sheet.json
index.json

programs/
PoliticalIdeologies/

.obsidian/workspace.json
.obsidian/graph.json
